* {
  margin: 0;
  padding: 0;
  border: 5px;
}

header {
  border: 2px solid sandybrown;
  border-radius: 4px;
  padding: 5px;
  margin: 160px;
  display: flex;
  justify-content: space-around;
  background-color: #fff7f0;
  box-shadow: 0 4px 12px rgb(255, 0, 0);
}

.header img {
  width: 300px;
  height: auto;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: rgb(255, 0, 255);
  cursor: pointer;
  margin: 6px;
  padding: 6px;
  border-radius: 4px;
  opacity: 0.8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
  opacity: 2;
  transition: .9s;
}

h1 {
  padding: 10px;
  color: darkturquoise;
}

h2{
  padding-left: 4px;
  color: rgb(205, 50, 192);
}
p {
  padding: 8px;
  padding-left: 10px;
  padding-right: 100px;
  font-style: 'Libertinus Mono', monospace;
}